<app-header-img-bg
  [imageBg]="imageBg"
  [title]="'Ciekawostki'"
  [subtitle]="'&mdash; Z życia wzięte!'"
></app-header-img-bg>

<section class="section">
  <div class="container">
    <app-header-section
      class="mb-3"
      [title]="'Ciekawostki'"
      [icon]="'fas fa-blog'"
      [color]="'success'"
    ></app-header-section>

    <div *ngIf="blogList.length > 0; else spinner" class="row">
      <div class="col-md-12">
        <div class="main-timeline">
          <a *ngFor="let item of blogList" class="timeline wow fadeIn fast">
            <div class="timeline-icon">
              <img
                lazy-load
                [src]="item.imageUrl"
                class="rounded-circle img-center img-fluid shadow shadow-lg--hover"
                style="width: 300px;"
                alt="No image"
                (click)="openModal(item)"
              />
            </div>
            <div class="timeline-content">
              <h3 class="title">{{ item.title }}</h3>
              <p
                class="description"
                [innerHTML]="
                  item.description.length > 250 ? (item.description | slice: 0:250) + '&hellip;' : item.description
                "
              ></p>
              <div class="text-center">
                <button type="button" class="btn btn-outline-success btn-custom my-3" (click)="openModal(item)">
                  Więcej
                </button>
              </div>
            </div>
          </a>
        </div>
        <div *ngIf="loadOlders" class="d-flex align-items-center justify-content-center mt-3">
          <button class="btn btn-outline-success mt-5" (click)="loadOlder()">Starsze posty</button>
        </div>
      </div>
    </div>
  </div>
</section>

<ng-template #spinner>
  <app-spinner-error></app-spinner-error>
</ng-template>
