$green:    rgb(45, 206, 136);	
$green-80: rgba(45, 206, 137, 0.8);	
$blue:     rgb(94, 114, 228);	
$indigo:   rgb(86, 3, 173);	
$purple:   rgb(137, 101, 224);	
$pink:     rgb(243, 164, 181);	
$red:      rgb(245, 54, 92);	
$orange:   rgb(251, 99, 64);	
$yellow:   rgb(255, 214, 0);	
$teal:     rgb(17, 205, 239);	
$cyan:     rgb(43, 255, 198);	
$gray-600: rgb(136, 152, 170);	
$black-30: rgba(0, 0, 0, 0.3);	
$black-70: rgba(0, 0, 0, 0.7);	
$black-80: rgba(0, 0, 0, 0.8);	
