:root {
  --green:    #2dce88;
  --green-80: #2dce89cc;
  --blue:     #5e72e4;
  --indigo:   #5603ad;
  --purple:   #8965e0;
  --pink:     #f3a4b5;
  --red:      #f5365c;
  --orange:   #fb6340;
  --yellow:   #ffd600;
  --teal:     #11cdef;
  --cyan:     #2bffc6;
  --gray-600: #8898aa;
  --black-30: #0000004d;
  --black-70: #000000b3;
  --black-80: #000000cc;
}
