<div class="modal-header">
  <h4 class="modal-title">{{ item.title }}</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="d-flex justify-content-center">
    <p
      class="text-center badge badge-pill badge-danger px-4 py-2 mb-3"
      style="font-size: 1rem; text-transform: lowercase"
      [innerHTML]="item.weight"
    ></p>
  </div>
  <img
    class="img-fluid rounded mx-auto d-block m-2"
    src="assets/img/people/{{ item.image }}.jpg"
    alt="No image"
    [hidden]="imageLoader"
    (load)="this.imageLoader = false"
  />

  <div class="d-flex justify-content-center align-items-center">
    <img [hidden]="!imageLoader" src="assets/svg/loader.svg" />
  </div>

  <div class="text-justify mt-4" [innerHTML]="item.description"></div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-success" (click)="activeModal.close()">Zamknij</button>
</div>
